{% extends "basic.html" %}
{% block content %}
			<div id="page-wrapper">
				<div class="graphs">
						<div class="tab-content">
						<div class="tab-pane active" id="horizontal-form">
							<form class="form-horizontal">
								<div class="form-group">
									<div class="col-sm-2"></div>
									<div class="col-sm-8">
									<div class="task-info">

									<span class="task-desc">已完成检测</span><span class="percentage">90%</span>
						     		<div class="clearfix"></div>	
									</div>
								  
									<div class="progress progress-striped active">
										<div class="bar green" style="width:90%;"></div>
									</div>
									</div>
								</div>
								
								<div class="form-group">
									<label for="focusedinput" class="col-sm-2 control-label">链接地址(ftp)</label>
									<div class="col-sm-8">
										<input disabled=""  type="text" class="form-control1" id="focusedinput" value="ftp://cp01-sys-rath4-c32-qa258.cp01.baidu.com:/home/spider/temp/temp">
									</div>
								</div>
								
								
								<div class="form-group">
									<label for="inputPassword" class="col-sm-2 control-label">结果地址</label>
									<div class="col-sm-8">
										<input type="password" class="form-control1" id="inputPassword" placeholder="ftp://cp01-sys-rath4-c32-qa258.cp01.baidu.com:/home/spider/temp/temp">
									</div>
								</div>
								<div class="form-group">
									<label for="radio" class="col-sm-2 control-label">抓取ua</label>
									<div class="col-sm-8">
										<div class="radio-inline"><label><input type="radio" checked=""> pc</label></div>
																			</div>
								</div>
								<div class="form-group">
									<label for="radio" class="col-sm-2 control-label">是否例行</label>
									<div class="col-sm-8">
										<div class="radio-inline"><label><input type="radio" checked=""> 例行任务</label></div>
										
									</div>
								</div>
								<div class="form-group">
									<label for="inputPassword" class="col-sm-2 control-label">开始时间</label>
									<div class="col-sm-8">
										<input type="password" class="form-control1" id="inputPassword" placeholder="2017-03-01 16:22:09">
									</div>
								</div>
								<div class="form-group">
									<label for="inputPassword" class="col-sm-2 control-label">最次一次查询时间</label>
									<div class="col-sm-8">
										<input type="password" class="form-control1" id="inputPassword" placeholder="2017-03-01 16:22:09">
									</div>
								</div>
								<div class="form-group">
									<label for="inputPassword" class="col-sm-2 control-label">已查询次数</label>
									<div class="col-sm-8">
										<input type="password" class="form-control1" id="inputPassword" placeholder="8 （任务提交后每小时查询，共查询12次）">
									</div>
								</div>
								
								
						  <div class="panel-footer">
							<div class="row">
								<div class="col-sm-8 col-sm-offset-2">
									<button class="btn-success btn">立即查询</button>
									
								</div>
							</div>
						 </div>
						</form>
					  </div>
				</div>
			</div>
{% endblock %}
