					<ul class="nav nav-pills nav-stacked custom-nav">
						<li><a href="apply"><i class="lnr lnr-power-switch"></i><span>用户申请</span></a></li>
						<li><a href="person"><i class="lnr lnr-spell-check"></i><span>用户管理</span></a></li>
						<li><a href="submit"><i class="lnr lnr-cog"></i><span>提交任务</span></a></li>
						<li><a href="hisjob"><i class="lnr lnr-spell-check"></i><span>历史任务</span></a></li>
						<li><a href="detailjob"><i class="lnr lnr-spell-check"></i><span>任务详情</span></a></li>
						<li><a href="per_pass"><i class="lnr lnr-spell-check"></i><span>用户审批通过</span></a></li>
						<li><a href="per_nopass"><i class="lnr lnr-spell-check"></i><span>用户审批不通过</span></a></li>
					</ul>
